# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/logs/
/.factorypath
/.apt_generated_tests/

/mixin-0.8.3.jar
/libs
/CHANGELOG.md
/src_test
/delete_duplicates.txt
/src26/
/tmp_src26_java.txt
/tmp_120_files.txt
/tmp_120_java.txt
/tmp_src26_files.txt
/neo-loom-dev-1.17/
