# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/logs/
/.factorypath
/.apt_generated_tests/

/mixin-0.8.3.jar
/libs
/CHANGELOG.md
/src_test
