# Converted from fruitfulfun.classtweaker (Fabric Loom v2 -> NeoForge AT)
# NOTE: extend-enum entries are NOT supported by access transformers.
#       They must use Mixin instead:
#       - PathType FRUITFULFUN_LEAVES
#       - EquipmentClientInfo$LayerType FRUITFULFUN_BEE_SADDLE

# LeavesBlock
public net.minecraft.world.level.block.LeavesBlock updateDistance(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState;

# Bee$BeePollinateGoal
public net.minecraft.world.entity.animal.bee.Bee$BeePollinateGoal
public net.minecraft.world.entity.animal.bee.Bee$BeePollinateGoal isPollinating()Z
public net.minecraft.world.entity.animal.bee.Bee beePollinateGoal
public net.minecraft.world.entity.animal.bee.Bee isRolling()Z

# Particle / Entity
public net.minecraft.client.particle.Particle stoppedByCollision
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V
public net.minecraft.world.entity.Entity collideWithShapes(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/phys/AABB;Ljava/util/List;)Lnet/minecraft/world/phys/Vec3;

# BlockSetType / WoodType
public net.minecraft.world.level.block.state.properties.BlockSetType register(Lnet/minecraft/world/level/block/state/properties/BlockSetType;)Lnet/minecraft/world/level/block/state/properties/BlockSetType;

# FoliagePlacer
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacer radius
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacer offset
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacer shouldSkipLocation(Lnet/minecraft/util/RandomSource;IIIIZ)Z
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacer createFoliage(Lnet/minecraft/world/level/WorldGenLevel;Lnet/minecraft/world/level/levelgen/feature/foliageplacers/FoliagePlacer$FoliageSetter;Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration;ILnet/minecraft/world/level/levelgen/feature/foliageplacers/FoliagePlacer$FoliageAttachment;III)V

# PoiTypes
public net.minecraft.world.entity.ai.village.poi.PoiTypes registerBlockStates(Lnet/minecraft/core/Holder;Ljava/util/Set;)V

# MobEffect
public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V

# BrewingStandMenu$PotionSlot
public net.minecraft.world.inventory.BrewingStandMenu$PotionSlot

# BookEditScreen
public net.minecraft.client.gui.screens.inventory.BookEditScreen pages
public net.minecraft.client.gui.screens.inventory.BookEditScreen currentPage

# Entity
public net.minecraft.world.entity.Entity random
public net.minecraft.world.entity.Entity setLevel(Lnet/minecraft/world/level/Level;)V

# DispenserBlock
public net.minecraft.world.level.block.DispenserBlock DISPENSER_REGISTRY

# SkullBlockEntity
public net.minecraft.world.level.block.entity.SkullBlockEntity animationTickCount
public net.minecraft.world.level.block.entity.SkullBlockEntity isAnimating

# ThrowableItemProjectile
public net.minecraft.world.entity.projectile.throwableitemprojectile.ThrowableItemProjectile DATA_ITEM_STACK

# ServerPlayer
public net.minecraft.server.level.ServerPlayer containerCounter

# Enderman goals
public net.minecraft.world.entity.monster.EnderMan$EndermanLeaveBlockGoal
public net.minecraft.world.entity.monster.EnderMan$EndermanTakeBlockGoal

# MobEffectInstance (accessible + mutable)
public-f net.minecraft.world.effect.MobEffectInstance duration

# BlockEntity (accessible + mutable)
public net.minecraft.world.level.block.entity.BlockEntity type
public-f net.minecraft.world.level.block.entity.BlockEntity type

# AreaEffectCloud
public net.minecraft.world.entity.AreaEffectCloud owner

# BlockColors
public net.minecraft.client.color.block.BlockColors BLANK_LAYER

# BeehiveBlockEntity$BeeData
public net.minecraft.world.level.block.entity.BeehiveBlockEntity$BeeData

# Animal
public net.minecraft.world.entity.animal.Animal playEatingSound()V

# RecipeProvider
public net.minecraft.data.recipes.RecipeProvider items

# EntityType
public net.minecraft.world.entity.EntityType boatFactory(Ljava/util/function/Supplier;)Lnet/minecraft/world/entity/EntityType$EntityFactory;
public net.minecraft.world.entity.EntityType chestBoatFactory(Ljava/util/function/Supplier;)Lnet/minecraft/world/entity/EntityType$EntityFactory;

# Minecraft
public net.minecraft.client.Minecraft clientTickCount

# AbstractContainerMenu (accessible + mutable)
public-f net.minecraft.world.inventory.AbstractContainerMenu menuType

# BrewingStandMenu
public net.minecraft.world.inventory.BrewingStandMenu brewingStandData

# AttributeSupplier
public net.minecraft.world.entity.ai.attributes.AttributeSupplier instances
